{
	"id": "[[ module_id ]]",
	"title": "[[ module_title ]]",
	"description": "[[ module_description ]]",
	"version": "0.0.0",
	"compatibility": {
		"minimum": "[[ foundry_minimum ]]",
		"verified": "[[ foundry_verified ]]",
		"maximum": "[[ foundry_maximum ]]"
	},
	"authors": [
		{
			"name": "[[ author_name ]]",
			"url": "[[ author_url ]]"[% if author_discord %],
			"discord": "[[ author_discord ]]"[% endif %]
		}
	],
	"relationships": [[ module_relationships | tojson(indent='\t') | indent('\t') ]],[% if module_kind == 'code' %]
	"esmodules": [
		"dist/[[ module_id ]].js"
	],[% elif module_scripts %]
	"scripts": [[ module_scripts | tojson(indent='\t') | indent('\t') ]],[% endif %][% if module_kind == 'code' and uses_styles %]
	"styles": [
		"dist/[[ module_id ]].css"
	],[% endif %][% if localization %]
	"languages": [
		{
			"lang": "en",
			"name": "English",
			"path": "lang/en.json"
		}[% for language in additional_languages %],
		[[ language | tojson(indent='\t') | indent('\t\t') ]][% endfor %]
	],[% endif %][% if module_packs %]
	"packs": [[ module_packs | tojson(indent='\t') | indent('\t') ]],[% endif %]
	"url": "https://github.com/[[ github_owner ]]/[[ repository_name ]]",
	"manifest": "https://github.com/[[ github_owner ]]/[[ repository_name ]]/releases/latest/download/module.json",
	"download": "https://github.com/[[ github_owner ]]/[[ repository_name ]]/releases/latest/download/module.zip",
	"readme": "https://github.com/[[ github_owner ]]/[[ repository_name ]]/blob/[[ default_branch ]]/README.md",
	"license": "[[ module_license ]]",
	"socket": [[ uses_socket | lower ]],
	"persistentStorage": [[ persistent_storage | lower ]],
	"library": [[ is_library | lower ]],
	"media": [[ module_media | tojson(indent='\t') | indent('\t') ]]
}
