{
	"name": "@[[ github_owner | lower ]]/[[ module_id ]]-api-types",
	"version": "1.0.0",
	"description": "Public TypeScript definitions for the [[ module_title ]] module API",
	"license": "[[ module_license ]]",
	"repository": {
		"type": "git",
		"url": "git+https://github.com/[[ github_owner ]]/[[ repository_name ]].git"
	},
	"publishConfig": {
		"access": "public"
	}
}
